{%extends 'shop/basic.html'%}

{%block body%}
<div class="container">
    <h1 id="noitems"></h1>
    <ul id="itemsincart">        
    </ul>
    <a href="{%url 'checkout' %}" ><button id="cart-checkout-button" class="check-button addtocart" style="margin-top: 20px;" >Click Here to Checkout</button></a>
</div>

<script>
    let allproducts=JSON.parse(localStorage.getItem('allproducts'));
    if(allproducts==null)
    {
        $('#noitems').append("No Items in Your Cart");
    }
    else
    {
        {% for i in products%}
        {
            if(allproducts[{{i.id}}]!=undefined)
            {
                $('#itemsincart').append(
                    `<li class="list-group-item d-flex justify-content-between align-items-center">
                    {{i.product_name}}
                <span class="badge badge-primary badge-pill">Qty: ${allproducts[{{i.id}}]}</span>
            </li>`
                )
            }
        }
        {%endfor%}    
    }
</script>
{%endblock%}